<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Story</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link
            rel="stylesheet"
            href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
            crossorigin="anonymous"
        />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    </head>

  <body>
    <%- include('partials/_header') %>

    <h1>The Story</h1>
    <div id="story"></div>
    <div id="storytext">
      <button type="button">Open for Contributions</button>
      <button type="submit">The End</button>
    </div>
    <!-- Page-specific (main) content here -->
    <main class= "container" >
          <h2>Add Contribution</h2>
          <form id="form">
            <label for="contribution-text"><b>And then the story continues...</b></label>
            <textarea name="text" id="contribution-text"></textarea>
            <div>
              <button type="submit">Submit</button>
            </div>
          </form>
        <section id="contributions-container"></section>
        <h2>Pending Contributions</h2>
        <div class="contribution"><h4>Cool Contribution</h4>
          <article>Bla bla bla bla bla Bla bla bla bla bla Bla bla bla bla bla </article>



        </div>
        <button type="button">Delete Contribution</button>
        <button type="button">Accept Contribution</button>
        <button type="button">Upvote Contribution</button>
        <output id="upvotes" for="contribution-text">0</output>

    </main>
    <script type="text/javascript" src="/scripts/story.js"></script>

     <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </body>
</html>
