@media (max-width: 1920px) {

  body {
    background-image: url("https://pbs.twimg.com/media/ERypVaYX0AAwlHF.jpg");
    background-color: rgb(199, 201, 192);
    background-size: cover;
   }


h1 {
  color: rgb(27, 3, 3);
  font-size: 1.5em;
}

body {
  display: flex;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  align-items: center;
  flex-direction: column;
}

header, nav {
  width: 100%;
}

.navbar-brand {
  font-size: 1em;
  font-weight: 600;
}

.newstory-form {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  background-color: rgba(52, 83, 170, 0.35);
}

#transparent {
  width: 100%;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page-title {
  display: flex;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding:0.3em;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 1em;
  color: rgb(16, 16, 163);
  background-color: rgb(196, 238, 234);
  font-size: 2em;
  font-variant-caps: small-caps;
  font-weight: 700;
  border: #100453;
  border-style: solid;
  border-width: 4px;
  text-shadow: 0 1px 0 rgb(137, 192, 209),
               0 2px 0 rgb(137, 192, 209),
               0 3px 0 rgb(137, 192, 209),
               0 4px 0 rgb(137, 192, 209),
               0 5px 0 rgb(137, 192, 209),
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.title {
  width: 95%;
  resize: none;
  font-variant-caps: small-caps;
  font-weight: 700;
  border: #100453;
  border-style: solid;
  border-width: 4px;
}

#title {
  color: rgb(71, 200, 223);
  font-size: 2em;
  font-variant-caps: small-caps;
  font-weight: 700;
  text-shadow: 0 1px 0 rgb(44, 90, 104),
               0 2px 0 rgb(44, 90, 104),
               0 3px 0 rgb(44, 90, 104),
               0 4px 0 rgb(44, 90, 104),
               0 5px 0 rgb(44, 90, 104),
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#open {
  margin-top: 2em;
  color: rgb(71, 200, 223);
  font-size: 2em;
  font-variant-caps: small-caps;
  font-weight: 700;
  text-shadow: 0 1px 0 rgb(44, 90, 104),
               0 2px 0 rgb(44, 90, 104),
               0 3px 0 rgb(44, 90, 104),
               0 4px 0 rgb(44, 90, 104),
               0 5px 0 rgb(44, 90, 104),
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.text {
  width: 95%;
  resize: none;
  width: 95%;
  font-variant-caps: small-caps;
  font-weight: 700;
  border: #100453;
  border-style: solid;
  border-width: 4px;
}

#submit {
  margin: 1em;
  background-color: rgb(27, 47, 161);
  font-weight: 600;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}


}
